* {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Open sans", serif;
}

p {
    font-size: 16px;
    width: 1120px;
}

h1 {
    font-size: 36px;
    height: 49px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
    padding: 20px 0 8px;
}

span {
    margin-top: 20px;
}

main {
    margin: 88px 80px;
}

header .questions {
    height: 22px;
    padding: 0px 0px 8px;
    font-weight: bold;
    text-transform: uppercase;
    color: #E1624F;
}

header h1 {
    padding-bottom: 40px;
}

.subtitle {    
    font-size: 16px;
    padding: 0 20px 4px;
    line-height: 22px;
    font-style: italic; /* Muda estilo da fonte para itálico */
    text-align: center;
    color: #E1624F;
    margin-top: 24px;
}

.divisor {
    width: 100%;
    height: 1px;
    margin: 32px 0;
    background-color: #d9d9d9;
}

nav .questions {
    height: 22px;
    margin-top: 64px;
    padding: 0px 0px 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #E1624F;
}

nav h2 + p {
    font-size: 16px;    
    padding: 8px 0 64px;
}

img {
    border-radius: 28px;
    width: 100%;
}

.context-of-image {
    margin-bottom: 48px;
}

br + span {
    font-weight: bold;
}

ul {
    padding-left: 24px;
}

ul .history {
    color: #0C51A7;
    text-transform: capitalize;
    font-weight: bold;
}

ul .couple  {
    color: #591B98;
    text-transform: capitalize;
    font-weight: bold;
}

ul .family {
    color: #E5245E;
    text-transform: capitalize;
    font-weight: bold;
}

ul .budget {
    color: #E95E10;
    text-transform: capitalize;
    font-weight: bold;
}

ul li::marker {
    color: #333333;
}

footer {
    font-family: "Alice",serif;
    color: black;
    text-align: center;
    padding-top: 65px;
    text-transform: inherit;
}

footer img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

footer a {
    color: black;
    text-decoration: none;
}