* {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Open sans", serif;
}

main {
    margin: 88px 80px;
}

header .questions {
    font-size: 16x;
    padding: 0px 0px 8px;
    font-weight: bold;
    text-transform: uppercase;
    color: #E1624F;
}

nav .questions {
    padding: 0px 0px 8px;
    font-weight: bold;
    text-transform: uppercase;
    color: #E1624F;
}

.subtitle {    
    font-size: 16px;
    line-height: 22px;
    font-style: italic; /* Muda estilo da fonte para itálico */
    text-align: center;
    color: #E1624F;
    margin-top: 24px;
}

.divisor {
    /* margin-bottom: 36; */
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
}

img {
    border-radius: 28px;
    width: 100%;
}

br + span {
    font-weight: bold;
}

ul .history {
    color: #0C51A7;
    text-transform: capitalize;
    font-weight: bold;
}

ul .couple  {
    color: #591B98;
    text-transform: capitalize;
    font-weight: bold;
}

ul .family {
    color: #E5245E;
    text-transform: capitalize;
    font-weight: bold;
}

ul .budget {
    color: #E95E10;
    text-transform: capitalize;
    font-weight: bold;
}

ul li::marker {
    color: #333333;
}

footer {
    font-family: "Alice",serif;
    color: black;
    text-align: center;
    padding-top: 65px;
    text-transform: capitalize;
}

footer img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

footer a {
    color: black;
    text-decoration: none;
}